.myPic {
  height: 200px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.aboutMe {
  padding-bottom: 80px;
}

.aboutMeHeader {
  margin-bottom: 0px;
}

.resumeLink {
  color: blue;
}

.lastParagraph {
  margin-bottom: 0;
}
