.myPic {
  height: auto;
  width: 60%;
  margin-top: 0px;
  margin-bottom: 40px;
  padding: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.aboutMe {
  padding-bottom: 80px;
}

.aboutMeHeader {
  margin-bottom: 40px;
}

.resumeLink {
  color: rgb(0, 0, 229);
}

.lastParagraph {
  margin-bottom: 0;
  margin-top: 50px;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bio {
  /* width: 60%; */
  font-size: larger;
}

.col,
.col-lg-6 {
  display: flex;
  justify-content: center;
}
