.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(223 223 223);
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
}

.github {
  display: flex;
}

.githubIcon {
  font-size: 35px;
  /* margin-right: 40px; */
}

.github p {
  margin: 5px 10px;
}

.message {
  margin: 5px 0;
}
