.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223 223 223);
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
}

.githubIcon {
  font-size: 35px;
}

.footer p {
  margin: 5px 20px;
}
