header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 10px;
  background-color: rgb(0, 0, 97);
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.my-name {
  font-size: 60px;
  margin-left: 40px;
}

.nav-options {
  display: flex;
  flex-wrap: wrap;
  margin-right: 40px;
  margin-top: 25px;
}

.nav-options * {
  margin-left: 100px;
  font-size: 30px;
}

.nav-options *:hover {
  color: gold;
}
