.project {
  width: 400px;
  margin: 20px auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.card-img {
  height: 100%;
  width: auto;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 80px;
}

.card-img-overlay {
  visibility: hidden;
}

.project:hover .card-img-overlay {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.822);
  color: rgb(0, 0, 97);
}

.project:hover .card-img-overlay a {
  margin-right: 20px;
  text-decoration: none;
}
